* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --text-color: #ffffff;
  --icon-color: #acacbe;
  --icon-hover-bg: #5b5e71;
  --placeholder-color: #cccccc;
  --outgoing-chat-bg: #343541;
  --incoming-chat-bg: #444654;
  --outgoing-chat-border: #343541;
  --incoming-chat-border: #444654;
}

.light-mode {
  --text-color: #e6e7ed;
  --icon-color: #a9a9bc;
  --icon-hover-bg: #f1f1f3;
  --placeholder-color: #9f9f9f;
  --outgoing-chat-bg: #0e1a5e;
  --incoming-chat-bg: #58395f;
  --outgoing-chat-border: #ffffff;
  --incoming-chat-border: "#D9D9E3";
}

body {
  background-color: var(--outgoing-chat-bg);
}

/* chat bolumu */
.chat-container {
  max-height: 100vh;
  padding-bottom: 150px;
  overflow-y: auto;
}
.chat-container .chat {
  padding: 25px 10px;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

:where(.chat-container, textarea)::-webkit-scrollbar {
  width: 6px;
}
:where(.chat-container, textarea)::-webkit-scrollbar-track {
  background: var(--incoming-chat-bg);
  border-radius: 25px;
}
:where(.chat-container, textarea)::-webkit-scrollbar-thumb {
  background: var(--icon-color);
  border-radius: 25px;
}
.chat-container .chat.outgoing {
  background: var(--outgoing-chat-bg);
  border: 1px solid var(--outgoing-chat-border);
}

.chat-container .chat.incoming {
  background: var(--incoming-chat-bg);
  border: 1px solid var(--incoming-chat-border);
}

.chat .chat-content {
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}
.chat .chat-content span {
  font-size: 30px;
  color: var(--icon-color);
  visibility: hidden;
}

.chat:hover .chat-content:not(:has(.typing-animation)) span {
  visibility: visible;
}

.chat .chat-details {
  display: flex;
  align-items: center;
}

.chat .chat-details img {
  width: 35px;
  height: 35px;
  align-self: flex-start;
  object-fit: cover;
  border-radius: 2px;
}

.chat .chat-details p {
  /* white-space: pre-wrap; */
  font-size: 17px;
  padding: 0 50px 0 25px;
}

span.material-symbols-outlined {
  user-select: none;
  cursor: pointer;
}
.typing-animation {
  display: inline-flex;
  padding-left: 25px;
}

.typing-animation .typing-dot {
  height: 7px;
  width: 7px;
  opacity: 0.7;
  border-radius: 50%;
  margin: 0 3px;
  background: var(--text-color);
  animation: animateDots 1.5s var(--delay) ease-in-out infinite;
}

@keyframes animateDots {
  0%,
  44% {
    transform: translateY(0px);
  }
  22% {
    opacity: 0.4;
    transform: translateY(-6px);
  }
  44% {
    opacity: 0.2;
  }
}

/* typing container */

.typing-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  background: var(--outgoing-chat-bg);
  border: var(--incoming-chat-border);
}

.typing-container .typing-content {
  max-width: 950px;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.typing-content .typing-textarea {
  width: 100%;
  display: flex;
  position: relative;
}
.typing-textarea textarea {
  width: 100%;
  height: 55px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  max-height: 250px;
  overflow-y: auto;
  resize: none;
  padding: 15px 45px 15px 20px;
  color: var(--text-color);
  background-color: var(--incoming-chat-bg);
  outline: 1px solid var(--incoming-chat-border);
}

.typing-textarea textarea::placeholder {
  color: var(--placeholder-color);
}
.typing-textarea span {
  position: absolute;
  right: 0;
  bottom: 0;
  visibility: hidden;
}

.typing-textarea textarea:valid ~ span {
  visibility: visible;
}
.typing-content span {
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
}
.typing-controls {
  display: flex;
}
.typing-controls span {
  margin-left: 7px;
  font-size: 23px;
  background: var(--incoming-chat-bg);
  border: 1px solid var(--incoming-chat-border);
}

/* default */

.default-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  padding: 0 10px;
  text-align: center;
  color: var(--text-color);
}

.error {
  color: #e55965;
}
